
<app-master>
    <div class="form-group">
        <label for="outlet Name">Outlet name</label>
        <input type="text" class="form-control">
        <label for="Item UOM">Address</label>
        <input type="text" class="form-control">
        <label for="Item Price">Phone no</label>
        <input type="text" class="form-control">
        <input type="button" value="Submit" class="mt-3">
        <input type="button" value="Back" class="mt-3 ml-3" (click)="back()">
    </div>




</app-master>
