<app-sales>
    <div>
        <input type="search">
    </div>
    <table class="table">
        <thead class="primary">
            <td>supplier Name</td>
            <td>invoiceno</td>
            <td>sale date</td>
            <td> item </td>
            <td>baseamount</td>
            <td>discount</td>
            <td>taxes</td>
            <td>total</td>
        </thead>
        <tbody>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tbody>
    </table>
</app-sales>