<app-purchases>
    <div>
        <input type="search">
    </div>
    <table class="table">
        <thead class="primary">
            <td>supplier Name</td>
            <td>invoiceno</td>
            <td>sale date</td>
            <td> item </td>
            <td>qty</td>
            <td>rat</td>
            <td>total</td>
        </thead>
        <tbody *ngFor='let prc of purchtemp'>
            <td>{{prc.supplier}}</td>
            <td>invoice</td>
            <td>saledate</td>
            <td>{{prc.pitem}}</td>
            <td>{{prc.qty}}</td>
            <td>{{prc.rat}}</td>
            <td>{{prc.totalamt}}</td>
            <td><input type="button" value="edit" ></td>
            <td><input type="button" value="delete"></td>
        </tbody>
    </table>
</app-purchases>