<app-purchases>
    <div class="container" style="min-height: 100%">
        <div class=" container justify-content-center mt-4 " >
            <input type="text" class=" mb-2 mt -2 " placeholder="Supplier Name" [(ngModel)]='addhead.supplier'>
            <div class="row d-flex mt-4">
                <input type="text" class=" col-3 ml-3 mr-2 mt-2" placeholder="Address" [(ngModel)]='addhead.address'>
    
                <input type="text" class=" col-3 ml-3 mr-2 mt-2" placeholder="Zip" [(ngModel)]='addhead.zip'>
                <input type="text" class=" col-3 ml-3 mr-2 mt-2" placeholder="MIR"  [(ngModel)]='addhead.mir' >
            </div>
            <div class="row d-flex mt-4 mb-4">
                <input type="text" class=" col-3 ml-3 mr-2 mt-2" placeholder="country"  [(ngModel)]='addhead.country'>
                <input type="text" class=" col-3 ml-3 mr-2 mt-2" placeholder="district"  [(ngModel)]='addhead.district'>
                <input type="text" class=" col-3 ml-3 mr-2 mt-2" placeholder="city"  [(ngModel)]='addhead.city'>
            </div>
    
            <div class="row d-flex mt-4 mb-4">
                <input type="text" class=" col-3 ml-3 mr-2 mt-2 " placeholder="Phone NO"  [(ngModel)]='addhead.phoneno'>
                <input type="text" class=" col-3 ml-3 mr-2 mt-2" placeholder="mail"  [(ngModel)]='addhead.mail'>
                <input type="text" class=" col-3 ml-3 mr-2 mt-2" placeholder="fax"  [(ngModel)]='addhead.fax'>
            </div>
            <div class="row d-flex mt-4 mb-4">
                <input type="text" class=" col-3 ml-3 mr-2 mt-2" placeholder="Invoice NO" [(ngModel)]='addhead.invoiceno'>
                <input type="date" class=" col-3 ml-3 mr-2 mt-2" placeholder="date"  [(ngModel)]='addhead.date'>
                <input type="text" class=" col-3 ml-3 mr-2 mt-2" placeholder="transponter"  [(ngModel)]='addhead.transporter'>
            </div>
        </div>
         <div class="row">
             <input type="text" class="col" placeholder="Item" [(ngModel)]='addline.item'>
             <input type="text" class="col" placeholder="batch" [(ngModel)]='addline.batch'>
             <input type="text" class="col" placeholder="qty" [(ngModel)]='addline.qty'>
             <input type="text" class="col"  placeholder="UOm" [(ngModel)]='addline.uom'>
             <input type="text" class="col" placeholder="Desc" [(ngModel)]='addline.description'>
             <input type="text" class="col" placeholder="rate" [(ngModel)]='addline.rate'>
             <input type="button" class="col" value="Add" (click)='addlines()'>
         </div>
         <div style="width:100%;overflow-y:scroll;height: 200px;">
        <table class="table" >
            <thead>
                <td>Item</td>
                <td>batch</td>
                <td>Qty</td>
                <td>UOM</td>
                <td>Rate</td>
                <td>description</td>
                <td>cost</td>
            </thead>
            <tbody *ngFor='let lit of displaylines' >
                <td>
                    {{lit.item}}
                </td>
                <td>
                    {{lit.batch}}
    
                </td>
                <td>{{lit.qty}}</td>
                <td>{{lit.uom}}</td>
                <td>{{lit.rate}}</td>
                <td>{{lit.description}}</td>
                <td>{{lit.cost}}</td>
                <td><input type="button"  value="delete " (click)="deleterow(lit)"></td>
    
    
            </tbody>
        </table>
    </div>        
        <div style="position: absolute;bottom: 20px;" >
            <input type="text" class="row justify-content-end" placeholder="Baseamount" disabled>
            <input type="text" class="row justify-content-end" placeholder="discount">
            <input type="text" class="row justify-content-end"  placeholder="taxes">
            <input type="text" class="row justify-content-end" placeholder="Total" disabled>
    
    <input type="button" value="Save" (click)="savedetails()">
    
    
    </div>

    </div>
</app-purchases>